/* NAVBAR STYLES */

.navbar,
.navbar-inverse,
.navbar-default a,
.sidebar-nav{
  background-color: #101034 !important;
  color: #F9FDFC !important;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -50px !important;
    }

    .navbar-brand .navbar-brand-centered a:hover{
      background-color: #FDFEFE !important;
    }
}
.navbar-nav > li > .dropdown-menu{
  background-color: #101034 !important;
}
.navbar-brand {
  padding: 0px !important;
}

.navbar-brand>img {
  height: 100% !important;
  width: auto !important;
}
.navbar-brand,
.navbar li a{
  font-family: "Times New Roman", serif !important;
}

.navbar-default .nav .navbar-nav a:hover{
  background-color: #101034 !important;
  color: #FDFEFE !important;
}
/* END OF NAVBAR STYLES*/

/* BLOCKQOUTE STYLES */

blockquote{
  border-left: 5px solid #F4D03F !important;
  font-style: italic;
}
/* END OF BLOCKQOUTE STYLES */

/* PAGER STYLES */

.pager strong{
  display: inline-block !important;
  padding: 5px 14px !important;
  background-color: #F4D03F !important;
  border: 1px solid transparent !important;
  border-radius: 0px !important;
}
.pager li>a{
  display: inline-block !important;
  padding: 5px 14px !important;
  background-color: #F4D03F !important;
  border: 1px solid transparent !important;
  border-radius: 0px !important;
}
/* END OF PAGER STYLES*/

/* FOOTER STYLES */

footer{
  border-top: #ccc 2px solid !important;
  margin-top: 20px !important;
}
/* END OF FOOTER STYLES*/

/* BOX STYLES */

.box{
  margin-bottom: 20px;
}

.box .fa{
  font-size: 100px !important;
  margin-bottom: 10px;
}

.boxes{
  text-align: center;
  background: #fff;
  margin-bottom: 30px;
}

.box .fa{
  font-size: 45px !important;
  margin-bottom: 10px;
}

.box{
  padding: 15px;
  border: #ccc 1px solid;
}
/* END OF BOX STYLES */

/* FEATURES STYLES */

#features{
  border-top: #D5D8DC 1px solid;
  border-bottom: #D5D8DC 1px solid;
  padding-bottom: 30px;
}
#features h2{
  font-size: 35px;
  margin 0;
  padding-bottom: 10px;
}

#features .fa{
  font-size: 60px;
  color: #121035;
}
/* END OF FEATURES STYLES */

/* MESSAGE STYLES */

#main-message{
  margin-top: 50px;
}
/* END OF MESSAGE STYLES*/

/* NEWS LISTINGS STYLES */

#news-listings{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-bottom: #D5D8DC 1px solid;
}
/* END OF NEWS LISTINGS STYLES */

/*.fade-carousel .slides .slide-1 {
  opacity: 0.7;
  background-image: url(https://scontent-sit4-1.xx.fbcdn.net/v/t35.0-12/18986715_1464770390250654_1057682246_o.jpg?oh=bebc1cd23766f5a5b04a6378870fe7d6&oe=594F67FA);
}
.fade-carousel .slides .slide-2 {
  opacity: 0.7;
  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {
  opacity: 0.7;
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}*/
 /* CAROUSEL SLIDES */
#myCarousel{
  margin-bottom: 10px;
}

#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
@media screen and (max-width: 768px){
  .carousel-inner img{
    background: rgba(0, 0, 0, 0.7);
  }
}

@media screen and (max-width: 740px){
  #myCarousel .carousel-caption{
    display: none !important;
  }
  #carousel-pills li{
    display: none !important;
  }

}

.nav-justified > li > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }

.thumb-contenido{

    margin-bottom:1%;
    margin-left: 0px;
    padding-left: 0px;
}

 /* END OF CAROUSEL SLIDES */

/* NEWS VIEW SINGLE */

section{width:100%; float:left;}
.banner-section{
  background-image:url("https://static.pexels.com/photos/216988/pexels-photo-216988.jpeg");
  background-size:cover;
  height: 380px;
  left: 0;
  position: absolute;
  top: 64px;
  background-position:0;
}

.post-title-block{
  padding:100px 0;
  margin-bottom: 20px !important;
}
.post-title-block h1 {
  color: #fff;
  font-size: 85px;
  font-weight: bold;
  text-transform: capitalize;
}
.post-title-block li{
  font-size:20px;
  color: #fff;
}
.image-block{
  float:left;
  width:100%;
  margin-bottom:10px;
}

@media screen and (max-width: 1440px){
  .post-title-block h1 {
    font-size: 65px !important;
  }
  .post-title-block li{
    font-size:25px !important;
  }
}

@media screen and (max-width: 1024px){
  .post-title-block h1 {
    font-size: 65px !important;
  }
  .post-title-block li{
    font-size:25px !important;
  }
}

@media screen and (max-width: 768px){
  .post-title-block h1 {
    font-size: 45px !important;
  }
  .post-title-block li{
    font-size:25px !important;
  }
}

@media screen and (max-width: 740px){
  .post-title-block h1 {
    color: #fff;
    font-size: 35px !important;
  }
  .post-title-block li{
    font-size:15px !important;
  }
}
/* END OF NEWS VIEW SINGLE */
