
/* NAVBAR STYLES */

.navbar,
.navbar-inverse,
.navbar-default a,
.sidebar-nav{
  background-color: #F4D03F !important;
  color: #000 !important;
}

.navbar-brand{
  font-family: "Brush Script Std", "Brush Script MT", cursive !important;
}

.navbar-default a:hover{
  background-color: #17202A !important;
  color: #FDFEFE !important;
}
/* END OF NAVBAR STYLES*/

/* BLOCKQOUTE STYLES */

blockquote{
  border-left: 5px solid #F4D03F !important;
  font-style: italic;
}
/* END OF BLOCKQOUTE STYLES */

/* PAGER STYLES */

.pager strong{
  display: inline-block !important;
  padding: 5px 14px !important;
  background-color: #F4D03F !important;
  border: 1px solid transparent !important;
  border-radius: 0px !important;
}
.pager li>a{
  display: inline-block !important;
  padding: 5px 14px !important;
  background-color: #F4D03F !important;
  border: 1px solid transparent !important;
  border-radius: 0px !important;
}
/* END OF PAGER STYLES*/

/* FOOTER STYLES */

footer{
  border-top: #ccc 2px solid !important;
  margin-top: 20px !important;
}
/* END OF FOOTER STYLES*/

/* BOX STYLES */

.box{
  margin-bottom: 20px;
}

.box .fa{
  font-size: 100px !important;
  margin-bottom: 10px;
}

.boxes{
  text-align: center;
  background: #fff;
  margin-bottom: 30px;
}

.box .fa{
  font-size: 45px !important;
  margin-bottom: 10px;
}

.box{
  padding: 15px;
  border: #ccc 1px solid;
}
/* END OF BOX STYLES */

/* FEATURES STYLES */

#features{
  border-top: #D5D8DC 1px solid;
  border-bottom: #D5D8DC 1px solid;
  padding-bottom: 30px;
}
#features h2{
  font-size: 35px;
  margin 0;
  padding-bottom: 10px;
}

#features .fa{
  font-size: 60px;
  color: #121035;
}
/* END OF FEATURES STYLES */

/* MESSAGE STYLES */

#main-message{
  margin-top: 50px;
}
/* END OF MESSAGE STYLES*/

/* NEWS LISTINGS STYLES */

#news-listings{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-bottom: #D5D8DC 1px solid;
}
/* END OF NEWS LISTINGS STYLES */

/* LATEST NEWS STYLES */

/* IMAGE THUMBNAIL */
.thumb {
    display: block;
	width: 100%;
	margin: 0;
}

/* Style to article Author */
.by-author {
	font-style: italic;
	line-height: 1.3;
	color: #aab6aa;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
	width: 482px;
	height: 350px;
	position: relative;
	margin-bottom: 1em;
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
	padding-left: .5em;
}

.main-list .media {
	padding-bottom: 1.1em;
	border-bottom: 1px solid #e8e8e8;
}

/* FADE CAROUSEL */
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/* HERO HEADERS */
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px !important;
    box-sizing: border-box;
    z-index: 3;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    border-width: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.hero a{
  text-transform: capitalize;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/* OVERLAYS */
/*.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .7;
}*/

/* CUSTOM BUTTONS */
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/* SLIDES BACKGROUND */
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  opacity: 0.7;
  background-image: url(https://scontent-sit4-1.xx.fbcdn.net/v/t35.0-12/18986715_1464770390250654_1057682246_o.jpg?oh=bebc1cd23766f5a5b04a6378870fe7d6&oe=594F67FA);
}
.fade-carousel .slides .slide-2 {
  opacity: 0.7;
  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {
  opacity: 0.7;
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

/* MEDIA QUERIES */
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}
