
.navbar,
.navbar-inverse,
.navbar-default a,
.sidebar-nav{
  background-color: #F4D03F !important;
  color: #000 !important;
}

.navbar-default a:hover{
  background-color: #17202A !important;
  color: #FDFEFE !important;
}

blockquote{
  border-left: 5px solid #F4D03F !important;
  font-style: italic;
}

.pager strong{
  display: inline-block !important;
  padding: 5px 14px !important;
  background-color: #F4D03F !important;
  border: 1px solid transparent !important;
  border-radius: 0px !important;
}
.pager li>a{
  display: inline-block !important;
  padding: 5px 14px !important;
  background-color: #F4D03F !important;
  border: 1px solid transparent !important;
  border-radius: 0px !important;
}

.box{
  margin-bottom: 20px;
}

.box .fa{
  font-size: 100px !important;
  margin-bottom: 10px;
}

footer{
  border-top: #ccc 2px solid !important;
  margin-top: 20px !important;
}

.showcase{
  height: 600px;
  padding: 100px 20px;
  text-align: center;
  border-bottom: #ccc 1px solid;
  margin-bottom: 30px;
  color: #fff;
  background:url('<?php echo base_url(); ?>/assets/img/ICON Banner.jpg') no-repeat center center;
}

.showcase h1{
  font-size: 55px;
  padding-bottom: 20px;
  color: #fff;
}

.showcase p{
  font-size: 20px;
  margin-bottom: 50px;
}

.boxes{
  text-align: center;
  background: #fff;
  margin-bottom: 30px;
}

.box .fa{
  font-size: 45px !important;
  margin-bottom: 10px;
}

.box{
  padding: 15px;
  border: #ccc 1px solid;
}

/* FEATURES */
#features{
  border-top: #D5D8DC 1px solid;
  border-bottom: #D5D8DC 1px solid;
  padding-bottom: 30px;
}
#features h2{
  font-size: 35px;
  margin 0;
  padding-bottom: 10px;
}

#features .fa{
  font-size: 60px;
  color: #121035;
}

/* MESSAGE */
#main-message{
  margin-top: 50px;
}

/* LATEST NEWS*/
/* image thumbnail */
.thumb {
  display: block;
	width: 100%;
	margin: 0;
}

/* Style to article Author */
.by-author {
	font-style: italic;
	line-height: 1.3;
	color: #aab6aa;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
	width: 482px;
	height: 350px;
	position: relative;
	margin-bottom: 1em;
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
	padding-left: .5em;
}

.main-list .media {
	padding-bottom: 1.1em;
	border-bottom: 1px solid #e8e8e8;
}
